<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'/>
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <div>
        <div><label for="name">Enter name: </label>
            <input type="text" th:field="*{name}" id="name"/>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>

        </br>
        <div>
            <label for="lastname">Enter lastname: </label>
            <input type="text" th:field="*{lastname}" id="lastname"/>
            <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname Error</div>
        </div>
        </br>
        <div>
            <label for="age">Enter age: </label>
            <input type="text" th:field="*{age}" id="age"/>
            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
        </div>
        </br>
        <div>
            <label for="email">Enter email: </label>
            <input type="text" th:field="*{email}" id="email"/>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            </br>
        </div>
        <input type="submit" value="Create!"/>
    </div>
</form>
</body>
</html>